body {
    font-family: Calibri, sans-serif;
    font-size: 2vw;
    background-color: #1c1f1f;
    color: #f2f5f5;
}

.navbar {
    font-size: 3.5vw;
}

@media (min-width: 576px) {
    .navbar {
        font-size: 1.5vw;
    }
}

.carousel-caption h5 {
    color: #48D1CC;
    font-size: 4vw;
    margin-bottom: 1vh;
}

.carousel-caption p {
    font-size: 2vw;
    margin-bottom: 1vh;
}

.about-me-section {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.contact-info-section {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}

.col-12 {
    padding: 0px;
}

#brand {
    font-weight: bold;
    color: #B6CDD0;
    padding: 1vw;
    border-style: double;
    border-color: #B6CDD0;
    border-width: 0.8vw;
}

/* extra xmall device section */
#xs-hero-pic {
    width: 100vw;
}

#xs-intro-section {
    background-color: #B6CDD0;
    color: #1c1f1f;
    text-align: center; 
    margin: 0px;
}

#xs-intro-section h1 {
    font-size: 12vw;
    margin-top: 5vh;
}

#xs-intro-section h2 {   
    font-size: 10vw;
}

#xs-intro-section h3 {
    font-size: 5vw;
    font-weight: 600;
    margin-bottom: 6vh;
}

/* xs devices about me section styling */
#xs-about-me-section {
    font-size: 4vw; 
    padding: 5%;
}

#xs-about-me-section h1 {
    font-size: 5vw;
    text-decoration: underline;
}

/* xs devices contact me section styling */
#xs-contact-me-section {
    background-color: #B6CDD0;
    color: #1c1f1f;
    font-size: 4vw; 
    padding: 5%;
    text-align: center;
}

#xs-contact-me-section h1 {
    font-size: 5vw;
    text-decoration: underline;
}

#xs-contact-me-section p {
    margin-bottom: 8px;
}

/* resume section styling */
#resume-section {
    font-size: 4vw;
}

#resume-section h4 {
    font-size: 5vw;
    text-decoration: underline;
}

@media (min-width: 576px) {
    #resume-section {
        font-size: 2vw;
    }
    #resume-section h4 {
        font-size: 2vw;
    }
}

#edu-section {
    padding: 5%;
}

#project-section {
    padding: 5%;
}

/* content seperation blocks */
#sm-transition-block {
    height: 8vh;
}
